<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Marc - Thời Trang Nữ</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
<div th:replace="fragments/header :: header"></div>

<div th:replace="fragments/slider :: slider"></div>

<div th:replace="fragments/categories :: categories"></div>

<div th:replace="fragments/product :: productList(${products})"></div>

<div th:replace="fragments/footer :: footer"></div>
</body>
</html>